.gradle/
**/build/
!**/src/**/build/
buildSrc/.gradle/

.idea/
*.iml
*.ipr
*.iws
out/
.externalNativeBuild/
.cxx/

.konan/
.kotlin/

local.properties
**/*.apk
**/*.aab

.DS_Store

**/DerivedData/
*.xcuserstate
**/xcuserdata/
